<div class="container">
  <div class="row">
    <app-search-pokemon></app-search-pokemon>

    <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
      <div
        class="card horizontal"
        pkmnBorderCard="midnightblue"
        (click)="goToPokemon(pokemon)"
      >
        <img [src]="pokemon.picture" [alt]="pokemon.name" />
        <div class="card-stacked">
          <div class="card-content">
            <p class="card-title">{{ pokemon.name }}</p>
            <!--
              <p><small>{{ pokemon.created | date:'dd/MM/YYYY'}}</small></p>
            -->
            <span
              *ngFor="let type of pokemon.types"
              class="{{ type | pokemonTypeColor }}"
            >
              {{ type }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a
  href=""
  class="btn-floating btn-large waves-effect waves-light red z-depth-3"
  style="position: fixed; bottom: 25px; right: 25px"
  routerLink="/pokemon/add-pokemon"
  >+</a
>

<h3 *ngIf="!pokemonList" class="center">
  <app-pkmn-loader></app-pkmn-loader>
</h3>
